
@{
    // var users = ViewBag.usersOBJ;
    var people = ViewBag.people;
    

   
}

<style>

    .matchDiv {
        margin:.5em;
        display: flex;
        flex-direction:row;
        align-items:center;
        border-style: solid;
    }

    .profilePicture{
        width:80px;
        height:80px;
    }
    .section{
        margin:.5em;
        display:flex;
        width:20%;
        align-items:center;
        flex-direction:column;
    }
</style>
@*
@{ foreach (var user in tmp)
    {

        

    }}*@

@{
    foreach (var user in people)
    {
       <div id="containerDiv">
            <div class="matchDiv">
                <div class="section">
                    <img class="profilePicture" src="@user.photoURL" />
                </div>
                <div class="section">
                    <p>@user.firstName @user.lastName</p>
                    <p>@user.country</p>
                </div>
                <div class="section">
                    <p>Bio:</p>
                    <p>@user.bio</p>
                </div>
                <div class="section">
                    <p>Banks that @user.firstName Uses:</p>
                    <p>@user.bankIDs</p>
                    
                </div>
                <div class="section">
                    <a href="/User/user?ID=@user.userID" class="buttonStyle">Match with @user.firstName</a>
                </div>

            </div>
    </div> 
    }
}
